@import url('https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&family=RocknRoll+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
body {
  margin: 0;
  font-family: 'RocknRoll One', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


::selection{
  background-color: #df2020;
  color: white;
}